
body {
	background: #f5f5f5;
}
h1 {
	font-size: 3rem;
}
h2 {
	margin: 0px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 2rem;
}

h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
}
.low {
	color: #66AF91;
}
.mid {
	color: #EFAE78;
}

.high {
	color: #E6626F;
}

.panel {
	background: #fff;
	border: 1px solid #dedede;
}

.probes {
	display: none;
}

.panel-heading {
	background: #e5e5e5;
	border-bottom: 1px solid #dedede;
	overflow: hidden;
}

.max-container {
	text-align: center;
}
.max-container h3 {
	color: #E6626F;
}
.min-container h3 {
	color: #66AF91;
}

.min-container {
	text-align: center;
	border-right: 1px solid #dedede;
}

.loading {
	position: absolute;
	top:30%;
	text-align: center;
	z-index: 1;
}

.render {
	opacity: .5;
}

#current, #avg {
	font-size: 6rem;
	margin-top: 0px;
}
.ct-chart {
	height: 400px;
}

.tooltip {
	opacity: 1;
	background: #f5f5f5;
	border: 1px solid #dedede;
	border-radius: 3px;
	color: black;
	padding: 20px;
}
